<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>IBM Cloud</title>


<link rel="stylesheet" type="text/css" href="/styles/global.css">
<!-- CSS (load carbon from a CDN) -->
<link rel="stylesheet" href="https://unpkg.com/carbon-components/css/carbon-components.min.css"/>
<script src="https://unpkg.com/carbon-components@10.27.0/scripts/carbon-components.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="/styles/pages/index.css" />

<!-- 
  Copyright IBM Corp. 2016, 2018

  This source code is licensed under the Apache-2.0 license found in the
  LICENSE file in the root directory of this source tree.
-->

<div class="page-container">
    <div class="bx--tile">
      <div class="tile-content">
        <h2 class="login-header">Congratulations!</h2>
            <p style="text-align: center;"class="page-container-content">
You have built the docker image, pushed it to the container registry in IBM Cloud and deployed this application into the Kubernetes cluster!
              <br>
              Well done!
            </p>
      </div>
    </div>
</div>